@CHARSET "ISO-8859-1";

/*the style for the borders of the led indicator (gray circle around the led colored light).*/

.led-border-large {
    border-radius: 50%;
    background: linear-gradient(to bottom, #BABABA, #E0E0E0);
	position:relative;
    width: 100px;
    height: 100px;
    padding: 10px;
}

.led-border-medium {
    border-radius: 50%;
    background: linear-gradient(to bottom, #BABABA, #E0E0E0);
	position:relative;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.led-border-small {
    border-radius: 50%;
    background: linear-gradient(to bottom, #BABABA, #E0E0E0);
	position:relative;
    width: 25px;
    height: 25px;
    padding: 2.5px;
}

/************ the classes for the blue led indicator ******************************/

.led-light-blue-on {/*the style for the blue led light when its value is true (on)*/
    border-radius: 50%;
    background: radial-gradient(#FFFFFF 0%, #8080FF 15%, #3000FF 35%, #FFFFFF 100%);
    width: 100%;
    height: 100%;
}
.led-light-blue-off {/*the style for the blue led light when its value is false (off)*/
    border-radius: 50%;
    background: linear-gradient(to bottom, #0024B0, #0054C0);
    width: 100%;
    height: 100%;
}
.led-light-blue-unknown {/*the style for the blue led light when its value is unknown*/
    border-radius: 50%;
    background: linear-gradient(to bottom, #0b2e5b, #204070);
    width: 100%;
    height: 100%;
}

/************ the classes for the red led indicator ******************************/

.led-light-red-on {/*the style for the red led light when its value is true (on)*/
    border-radius: 50%;
    background: radial-gradient(#FFFFFF 0%, #FF8080 15%, #FF0000 35%, #FFFFFF 100%);
    width: 100%;
    height: 100%;
}
.led-light-red-off {/*the style for the red led light when its value is false (off)*/
    border-radius: 50%;
    background: #990000;
    width: 100%;
    height: 100%;
}
.led-light-red-unknown {/*the style for the red led light when its value is unknown*/
    border-radius: 50%;
    background: #400000;
    width: 100%;
    height: 100%;
}

/************ the classes for the green led indicator ******************************/

.led-light-green-on {/*the style for the green led light when its value is true (on)*/
    border-radius: 50%;
    background: radial-gradient(#FFFFFF 0%, #80DD80 15%, #30DD30 35%, #FFFFFF 100%);/*TODO change gradient color for a nice light effect.*/
    width: 100%;
    height: 100%;
}
.led-light-green-off {/*the style for the green led light when its value is false (off)*/
    border-radius: 50%;
    background: #009933;/*TODO change gradient color for a nice light effect.*/
    width: 100%;
    height: 100%;
}
.led-light-green-unknown {/*the style for the green led light when its value is unknown*/
    border-radius: 50%;
    background: #003300;/*TODO change gradient color for a nice light effect.*/
    width: 100%;
    height: 100%;
}

/************ the classes for the yellow led indicator ******************************/

.led-light-yellow-on {/*the style for the yellow led light when its value is true (on)*/
    border-radius: 50%;
    background: radial-gradient(#FFFFFF 0%, #ffff80 15%, #ffff00 35%, #FFFFFF 100%);/*TODO change gradient color for a nice light effect.*/
    width: 100%;
    height: 100%;
}
.led-light-yellow-off {/*the style for the yellow led light when its value is false (off)*/
    border-radius: 50%;
    background: #b3b300;
    width: 100%;
    height: 100%;
}
.led-light-yellow-unknown {/*the style for the yellow led light when its value is unknown*/
    border-radius: 50%;
    background: #4d4d00;
    width: 100%;
    height: 100%;
}

/************ Led label position                            ******************************/

.ledIndiclabel{
    position:  absolute;
}
.right{
    top: 0;
    left: 100%;
}
.left{
    top: 0;
    right: 100%;
}
.top{
    bottom: 100%;
    left: 0;
}
.bottom{
    top: 100%;
    left: 0;
}