﻿.regularButton {
    position : relative;
    color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0.07em 0.07em 0.12em #888;
	display: inline-block;
	height: 2.2em;
	padding: 0 8px 1px 8px;
	border: 0;
	line-height: 1em;
	border-radius: 6px;
	box-shadow: 
		0px 1px 2px rgba(168, 161, 155, 0.5), 
		inset 0px 0px 2px rgba(54, 47, 3, 0.5);
	background: #0040ff;
	background-image: -o-linear-gradient(bottom, #0040ff 25%, #C7C8CE 81%);
	background-image: -moz-linear-gradient(bottom, #0040ff 25%, #C7C8CE 81%);
	background-image: -webkit-linear-gradient(bottom, #0040ff 25%, #C7C8CE 81%);
	background-image: -ms-linear-gradient(bottom, #0040ff 25%, #C7C8CE 81%);
	background-image: linear-gradient(bottom, #0040ff 25%, #C7C8CE 81%);

}
    .regularButton:hover {
        cursor: pointer;
	background: #3366ff;
	background-image: -o-linear-gradient(bottom, #3366ff 25%, #ADAFB6 81%);
	background-image: -moz-linear-gradient(bottom, #3366ff 25%, #ADAFB6 81%);
	background-image: -webkit-linear-gradient(bottom, #3366ff 25%, #ADAFB6 81%);
	background-image: -ms-linear-gradient(bottom, #3366ff 25%, #ADAFB6 81%);
	background-image: linear-gradient(bottom, #3366ff 25%, #ADAFB6 81%);		
    }

    .regularButton_requested{
             color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0.07em 0.07em 0.12em #888;
	display: inline-block;
	height: 2.2em;
	padding: 0 8px 1px 8px;
	border: 0;
	line-height: 1em;
	border-radius: 6px;
	box-shadow: 
		0px 1px 2px rgba(168, 161, 155, 0.5), 
		inset 0px 0px 2px rgba(54, 47, 3, 0.5);
    background: #ff6666;
	background-image: -o-linear-gradient(bottom, #ff6666 25%, #ADAFB6 81%);
	background-image: -moz-linear-gradient(bottom, #ff6666 25%, #ADAFB6 81%);
	background-image: -webkit-linear-gradient(bottom, #ff6666 25%, #ADAFB6 81%);
	background-image: -ms-linear-gradient(bottom, #ff6666 25%, #ADAFB6 81%);
	background-image: linear-gradient(bottom, #ff6666 25%, #ADAFB6 81%);


    }


     .regularButton_unknown{
             color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0.07em 0.07em 0.12em #888;
	display: inline-block;
	height: 2.2em;
	padding: 0 8px 1px 8px;
	border: 0;
	line-height: 1em;
	border-radius: 6px;
	box-shadow: 
		0px 1px 2px rgba(168, 161, 155, 0.5), 
		inset 0px 0px 2px rgba(54, 47, 3, 0.5);
    background: #14141f;
	background-image: -o-linear-gradient(bottom, #14141f 25%, #ADAFB6 81%);
	background-image: -moz-linear-gradient(bottom, #14141f 25%, #ADAFB6 81%);
	background-image: -webkit-linear-gradient(bottom, #14141f 25%, #ADAFB6 81%);
	background-image: -ms-linear-gradient(bottom, #14141f 25%, #ADAFB6 81%);
	background-image: linear-gradient(bottom, #14141f 25%, #ADAFB6 81%);


    }

       .regularButton_active{
             color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0.07em 0.07em 0.12em #888;
	display: inline-block;
	height: 2.2em;
	padding: 0 8px 1px 8px;
	border: 0;
	line-height: 1em;
	border-radius: 6px;
	box-shadow: 
		0px 1px 2px rgba(168, 161, 155, 0.5), 
		inset 0px 0px 2px rgba(54, 47, 3, 0.5);
    background: #5cd65c;
	background-image: -o-linear-gradient(bottom, #5cd65c 25%, #ADAFB6 81%);
	background-image: -moz-linear-gradient(bottom, #5cd65c 25%, #ADAFB6 81%);
	background-image: -webkit-linear-gradient(bottom, #5cd65c 25%, #ADAFB6 81%);
	background-image: -ms-linear-gradient(bottom, #5cd65c 25%, #ADAFB6 81%);
	background-image: linear-gradient(bottom, #5cd65c 25%, #ADAFB6 81%);


    }

    /************ Led label position                            ******************************/

.regularLabel{
    position:   relative;
}
    .right{
            top: -30px;
            left: 25px;
           
        }
    .left{
            top: -30px;
            right: 75px;
         }
    .top{
            bottom: 55px;
            left: 0;
        }
    .bottom{
            top: 55px;
            left: 0;
            }

  

